package web

import (
	"boundedinfinity/echo_blueprint/model"
	
	echo "github.com/labstack/echo/v4"
)

func (t *Server) init{{ filename .Output }}Post(c echo.Context) error {
    t.e.POST("{{ .Name }}", t.handle{{ filename .Output }}Post)
    return nil
}

{{ if .PathItem.Post }}

func (t *Server) handle{{ filename .Output }}Post(c echo.Context) error {
    var request model.{{ ucFirst (basePath ((index .PathItem.Post.RequestBody.Content "application/json").Schema.Ref.Get)) }}
    var request model.{{ ucFirst (basePath (index (index .PathItem.Post.Responses "200").Content "application/json").Schema.Ref.Get) }}

    if err := c.Bind(&request); err != nil {
		return echo.NewHTTPError(http.StatusBadRequest, err.Error())
	}

    return nil
}

{{ end }}
